name: oban_exporter Build and Test

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    services:
      postgres:
        image: postgres:13.5-alpine
        env:
          PGPORT: 5432
          POSTGRES_PASSWORD: postgres
        ports:
          ["5432:5432"]

    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/twozeronine/docker-images/dev-containers/oban-exporter/dev:0828bff5cf1c7649b861e7931f557d9f6718339c
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Wait for PostgreSQL to start
        run: dockerize -wait tcp://localhost:5432 -timeout 1m
      
      - run: mix deps.get
      - run: mix compile --all-warnings --warnings-as-erros
      - run: mix test