name: oban_exporter Build and Test

on:
  push:
    branches: [ "main" ]

env:
  MIX_ENV: test

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    container: 
      image: ghcr.io/twozeronine/docker-images/dev-containers/oban-exporter/dev:0828bff5cf1c7649b861e7931f557d9f6718339c
      
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - run: mix local.rebar --force && mix local.hex --force
      - run: mix deps.get
      - run: mix compile --all-warnings --warnings-as-erros
      - run: docker compose up -d
      - run: mix test